DATA_DIR=/satosa
PROXY_PORT=443
SATOSA_STATE_ENCRYPTION_KEY=zKJGfLKxdyjnV9fhBJ7fZa4UpRwWEbYSLioavTqGeSY
SATOSA_USER_ID_HASH_SALT=eSe7Etdv1fuCCvcxUX9RToUyuAZit0Bv5mS4S1BfbXA
METADATA_DIR=/satosa/metadata